/* Обнуление */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500px;
    color: #252B42;
    font-family: Montserrat;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* -------------------------------------------------------------------------------------------- */

/* технический класс, ограничивающий контейнер */
._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

/* технический класс который помогает делать из картинки изображение заднего фона */
._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* ---ШАПКА--------------------------------------------------------------------------------------- */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-width: 479px) {
    .header__container {
        min-width: 70px;
    }
}

.header__logo {
    font-size: 24px;
    color: inherit;
}

.header__menu {
    margin: 0px 0px 0px 132px;
}

@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}

@media (max-width: 767px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}

.menu {
    padding: 5px 0px;
    box-sizing: content-box;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}

.menu__link {
    color: #737373;
    font-weight: 600px;
    line-height: calc(24 / 14 * 100%);
}

@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}

/* ---PAGE--------------------------------------------------------------------------------------- */

.page {
    flex: 1 1 auto;
}



/* ---ПОДВАЛ--------------------------------------------------------------------------------------- */

.footer {

}

/* ---MAIN--------------------------------------------------------------------------------------- */

.main-block {
    position: relative;
}

.main-block__body {
    padding: 184px 0 197px 0;
    z-index: 2;
    max-width: 400px;
}

/* "> *" -  обращение ко всем объектам первого уровня*/
.main-block__body > *:not(:last-child){
    margin: 0 0 35px 0;
}

@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0 197px 0;
    }
}

.main-block__title {
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 800;
    letter-spacing: 0.2px;
}

@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    color: #737373;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
}

@media (max-width: 479px) {
    .main-block__text {
        color: #525252;
    }
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block__button {
    border-radius: 37px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    margin: 10px 0;
}

@media (max-width: 479px) {
    .main-block__button {
        flex: 1 1 auto;
    }
}

.main-block__button:not(:last-child) {
    margin-right: 10px;
}

.main-block__button_orange {
    background: #ff7b47;
    color: #fff;
}

.main-block__button_border {
    color: #0d5c63;
    border: 1px solid #0d5c63;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width: 992px) {
    .main-block__image img {
        opacity: 0.5;
    }
}